@model List<JobPortal.Models.Job>

@{
    ViewData["Title"] = "Zaměstnavatel";
}

<h1 class="my-4">EmployerPage</h1>

<p>
    <a class="btn btn-outline-info" asp-action="AddJob">Přidat inzerát</a>
</p>
<table class="table table-dark table-bordered">
    <thead>
        <tr>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model[0].Employer.UserName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DatePosted)
            </th>
            <th>
                Odpovědi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var job in Model) {
        <tr>
            @if (User.IsInRole("Admin"))
            {
                    <td>
                        @Html.DisplayFor(modelItem => job.Employer.UserName)
                    </td>
            }
            <td>
                @Html.DisplayFor(modelItem => job.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => job.DatePosted)
            </td>
            <td>
                @job.Messages.Count()
            </td>
            <td class="d-flex justify-content-between">
                <a class="btn btn-outline-info" style="width: 70px" asp-action="AddJob" asp-route-id="@job.Id">Edit</a> 
                <a class="btn btn-outline-info" style="width: 70px; margin: 0 5px" asp-action="DetailsJob" asp-route-id="@job.Id">Detail</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@job.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
